version: '2.4'

services:
  dedoc:
    mem_limit: 16G
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: always
    tty: true
    ports:
      - 1232:1231
    environment:
      DOCREADER_PORT: 1232


  test:
    depends_on:
      - dedoc
    build:
          context: .
          dockerfile: docker/Dockerfile
    tty: true
    environment:
      DOC_READER_HOST: "dedoc"
      DOCREADER_PORT: 1231
      is_test: $test
      PYTHONPATH: $PYTHONPATH:/dedoc_root/tests:/dedoc_root
    command:
        bash dedoc_root/tests/run_tests_in_docker.sh

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
  data1-1: