version: '2.4'

services:
  dedoc:
    mem_limit: 16G
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    tty: true
    ports:
      - 1231:1231
    environment:
      DOCREADER_PORT: 1231


  test:
    depends_on:
      - dedoc
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    environment:
      DOC_READER_HOST: "dedoc"
      DOCREADER_PORT: 1231
      is_test: $test
      PYTHONPATH: $PYTHONPATH:/dedoc_root/tests:/dedoc_root
    command:
        bash dedoc_root/tests/run_tests_in_docker.sh

  grobid:
      image: "lfoppiano/grobid:0.8.0"
      ports:
        - 8070:8070
