python-docx==0.8.11
python-pptx==0.6.21
Flask==1.1.2
requests==2.24.0
xlrd==1.2.0
ujson==3.2.0
beautifulsoup4==4.10.0
docx==0.2.4
olefile~=0.46
Werkzeug==1.0.1
flask_cors==3.0.10
flask-restx==0.5.1
pycodestyle==2.6.0
